.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #61dafb; /* React logo color */
}

.logo-icon {
  font-size: 40px; /* Size of the icon */
  margin-right: 10px; /* Space between icon and text */
}

.logo-text {
  font-size: 1.5em;
  font-weight: bold;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 2px;
  margin: 20px auto;
  width: 300px;
}

.row {
  display: contents;
}

.sudoku-cell {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
}

.third-column {
  border-right: 2px solid black; /* Add a thicker border to every third column */
}

.third-row {
  border-bottom: 2px solid black; /* Add a thicker border to every third column */
}

.selected-cell {
  background-color: rgb(184, 242, 247);
}